/* layout */
#contents {}
#section1 {
    height: 100vh;
    background: #000;
    position: relative;
    z-index: 1000;
}
#section2 {
    height: 2000px;
    background: #ccc;
    position: relative;
    z-index: 2000;
}
#section3 {
    background: blue;
    height: 6000px;
    position: relative;
    z-index: 500;
}
#section4 {
    background: red;
    height: 5000px;
    position: relative;
    z-index: 2500;
}
#section5 {}
#section6 {}

/* sec1 */
.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.sec1 h1 {
    font-family: "Miracle";
    font-size: 11vw;
    line-height: 1;
    color:#fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 10;
}
.sec1 h1 strong {
    display: block;
    font-weight: normal;
    overflow: hidden;
}
.sec1 h1 em {
    display: block;
    font-weight: normal;
    font-size: 13vw;
    overflow: hidden;
    
}
.sec1 h1 span {
    opacity: 0;
    transform: translateY(100px) rotate(160deg);
    display: inline-block;
}


.img {
    width: 0vw;
    height: 50vh;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: url(http://jsy0107.dothome.co.kr/portfolio/img/p1.jpg);
    background-size: cover;
    background-position: center bottom;
    background-blend-mode: saturation ;
    background-color: rgb(24, 83, 24);
    z-index: 1;
}


.sec3 {
    position: fixed;
    left: 0; top: 0;
    width: 500%; height: 100vh;
    background: yellow;
    display: flex;
}
.sec3 .box {
    width: 1200px;
    height: 100vh;
    color: #fff;
    font-size: 8vw;
    box-sizing: border-box;
}
.sec3 .box1 {background: #333;}
.sec3 .box2 {background: #444;}
.sec3 .box3 {background: #555;}
.sec3 .box4 {background: #666;}
.sec3 .box5 {background: #777;}